<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>NBA Machine Learning Picks</title>
    <style>
      .green {color: green}
      .red {color: red}
      td {padding: 2px;}
      td.numbers { width: 40px; text-align: right;}
      table {margin-bottom: 6px;}
      th {text-align: center;}
  /* Set background colors for even and odd rows */
  tr.bet-info-row-even:nth-child(even) {
    background-color: #2c3d49; /* Light gray for even rows */
  }
  tr.bet-info-row-odd:nth-child(odd) {
    background-color: #415462; /* Blue for odd rows */
  }
    </style>
  </head>
  <body>
    <main class="container">
      <h1>NBA AI Picks ({{today}})</h1>
<p>A machine learning AI used to predict the winners and under/overs of NBA games. Takes all team data from the 2007-08 season to 
      the current season, matched with odds of those games, using a neural network to predict winning bets for today's games. 
      Achieves ~69% accuracy on money lines and ~55% on under/overs. Outputs expected value for teams' money lines to provide 
      better insight. The fraction of your bankroll to bet based on the Kelly Criterion is also outputted. Note that a popular, 
      less risky approach is to bet 50% of the stake recommended by the Kelly Criterion.</p>
<p1>To give an example, imagine you bet on a coin toss and the odds were +120 for heads (implied probability = 45.45%). In 
      reality a coin toss has a 50% chance of landing on heads so in the long run you will eventually profit given enough bets if 
      you only bet on heads. The idea is the same with EV, the higher the EV the higher the profitability of the bet. In this 
      case the model still predicts that TeamA will win but it's more profitable to bet on the TeamB. In situations where 
      the EV is negative for both teams you simply shouldn't bet.</p1> <table role="grid"> <thead>
          <th>Teams</th>
          <th>Fanduel</th>
          <th>Draftkings</th>
          <th>Betmgm</th>
      </thead>
        <tbody>
        <tr>
          {% for game_key in data.get('fanduel') %}
          {% set teams = game_key.split(':') %}
          <tr>
            <td width="180px;">
            <table>
              <tbody>
                <tr>
                <tr class="bet-info-row-even">
                  <td>{{ teams[0] }}</td>
                </tr>
                <tr>
                <tr class="bet-info-row-odd">
                  <td>{{ teams[1] }}</td>
                </tr>
              </tbody>
            </table>
            </td>
            {% for sportsbook in ['fanduel', 'draftkings', 'betmgm'] %}
            {% set sbgame = data.get(sportsbook)[game_key] %}
            {% if not sbgame or not sbgame.away_team or not sbgame.home_team %}
            <td class="{{sportsbook}}"></td>
            {% else %}
              {% if teams[0] == sbgame.away_team %}
              <td class="{{sportsbook}}">
                <table>
                  <tbody>
                    <tr>
                      <tr class="bet-info-row-even">
                      <td class="numbers">{% if sbgame.away_team_odds|int > 0 %}+{%endif%}{{ sbgame.away_team_odds }}{% if sbgame.away_confidence %} <span class="ev-confidence">({{sbgame.away_confidence}}%)</span>{% endif %}</td>
                      <td class="numbers">
                        <span class="ev-value">{{ sbgame.away_team_ev }}</span>
                      </td>
                      <td class="numbers">{% if sbgame.ou_pick == 'OVER' %}O{%else%}U{%endif%} {{ sbgame.ou_value }}</td>
                    </tr>
                    <tr>
                    <tr class="bet-info-row-odd">
                      <td class="numbers">{% if sbgame.home_team_odds|int > 0 %}+{%endif%}{{ sbgame.home_team_odds }}{% if sbgame.home_confidence %} <span class="ev-confidence">({{sbgame.home_confidence}}%)</span>{% endif %}</td>
                      <td class="numbers">
                        <span class="ev-value">{{ sbgame.home_team_ev }}</span>
                      </td>
                      <td class="numbers"><span class="ou-confidence">{{sbgame.ou_confidence}}%</span></td>
                    </tr>
                  </tbody>
                </table>
              </td>
              {% endif %}
            {% endif %}
            {% endfor %}
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </main>
    <script>
      function perc2color(perc,min,max) {
            var base = (max - min);
            if (base == 0) { perc = 100; }
            else {
                perc = (perc - min) / base * 100; 
            }
            var r, g, b = 0;
            if (perc < 50) {
                r = 255;
                g = Math.round(5.1 * perc);
            }
            else {
                g = 255;
                r = Math.round(510 - 5.10 * perc);
            }
            var h = r * 0x10000 + g * 0x100 + b * 0x1;
            return '#' + ('000000' + h.toString(16)).slice(-6);
        }
      evs = document.getElementsByClassName("ev-value")
      evconfs = document.getElementsByClassName("ev-confidence")
      ous = document.getElementsByClassName("ou-confidence")
      for (var i = 0; i < evs.length; i++) {
          evs[i].style.color = perc2color(parseFloat(evs[i].textContent.replace('(','').replace(')',''))+100,0,200)
      }
      for (var i = 0; i < evconfs.length; i++) {
          evconfs[i].style.color = perc2color(parseFloat(evconfs[i].textContent.replace('(','').replace(')','')),0,100)
      }
      for (var i = 0; i < ous.length; i++) {
          ous[i].style.color = perc2color(parseFloat(ous[i].textContent.replace('(','').replace(')','')),0,100)
      }
      </script>
  </body>
</html>
